.register-page{

    display:flex;

    min-height:100vh;

    background:#F8FAFC;
}

/* LEFT */

.register-left{

    flex:1;

    background:linear-gradient(
        135deg,
        #4F46E5,
        #6366F1,
        #7C3AED
    );

    color:white;

    display:flex;

    justify-content:center;

    align-items:center;

    padding:60px;
}

.brand{

    max-width:500px;
}

.brand h1{

    font-size:48px;

    margin-bottom:8px;
}

.brand h2{

    font-size:34px;

    margin-bottom:25px;
}

.brand p{

    line-height:1.8;

    margin-bottom:35px;

    font-size:18px;
}

.features{

    display:flex;

    flex-direction:column;

    gap:16px;

    font-size:17px;
}

/* RIGHT */

.register-right{

    flex:0.8;

    display:flex;

    justify-content:center;

    align-items:center;
}

.register-card{

    width:430px;

    background:white;

    padding:45px;

    border-radius:18px;

    box-shadow:0 20px 45px rgba(0,0,0,.08);
}

.register-card h2{

    margin-bottom:8px;

    font-size:30px;
}

.register-card p{

    color:#6B7280;

    margin-bottom:28px;
}

.register-card label{

    display:block;

    margin-bottom:8px;

    font-weight:600;
}

.register-card input{

    width:100%;

    padding:14px;

    margin-bottom:18px;

    border:1px solid #D1D5DB;

    border-radius:10px;

    font-size:15px;

    transition:.3s;
}

.register-card input:focus{

    border-color:#4F46E5;

    box-shadow:0 0 0 3px rgba(79,70,229,.15);
}

.register-card button{

    width:100%;

    padding:15px;

    margin-top:8px;

    border:none;

    border-radius:10px;

    background:#4F46E5;

    color:white;

    font-size:16px;

    font-weight:600;

    cursor:pointer;

    transition:.3s;
}

.register-card button:hover{

    background:#4338CA;

    transform:translateY(-2px);
}

.login-link{

    margin-top:25px;

    text-align:center;
}

.login-link a{

    margin-left:6px;

    color:#4F46E5;

    font-weight:600;

    text-decoration:none;
}

.error-box{

    background:#FEE2E2;

    color:#DC2626;

    padding:12px;

    border-radius:8px;

    margin-bottom:20px;
}