.alert{

    padding:14px;

    border-radius:10px;

    margin-bottom:20px;

    font-size:14px;
}

.error{

    background:#FEE2E2;

    color:#DC2626;
}

.success{

    background:#DCFCE7;

    color:#15803D;
}